.Button {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    cursor: pointer;
    background-color: beige;
}

.Button:active {
    background-color: aqua;  
}

.Clear {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 0 0 15px 15px;
}

.Clear:active {
    background-color: red;
}

.Maths {
    width: 25%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    cursor: pointer;
    background-color: red;
}

.Maths:active {
    background-color: aqua;  
}